@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

body {
  background-color: black;
  color: greenyellow;
}

#mainDiv {
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: "Quicksand";
}
